/*! Header  */

.site-header{	
	height: 14*$rtm;
	@include get-grid('base', false);

	&__logo{
		@include grid-span(2, 1);
	}
	&__main-navigation{
		@include grid-span(3, 6)
	}
	&__social-links{
		@include grid-span(3, 6);
		clear: right;
		&::before{
			content: '';
			display: block;
			height: .5*$rtm;
			width: 1.9em;
			border-left: 1px solid #222;
			border-bottom: 1px solid #222;
			float: left;
			margin-top: 3.5*$rtm;
		}
		.social-links{	
			margin-top: 4*$rtm;
			float: right;
		}
	}
}


.header-logo{
	&__name{
		width: 7.5*$rtm;
		height: 3*$rtm;		
		margin-top: $rtm*3.5;
		transform: rotate(-90deg)  translateX(-$rtm*7.5);
		transform-origin: left top;
		a{
			text-decoration: none;
			letter-spacing: .06em;
		//font-size: $font-size-l;
		font-size: 2.4em;
		color: $text-color;
		font-family: $font-display;
		text-transform: uppercase;
		line-height: .8;
	}		
}
&__description{
	display: inline-block;
	margin: 5*$rtm 0 0 0;
	padding: .25*$rtm 0; 
	line-height: 1.15;
	overflow: hidden;			
	span{
		&:first-child{
			padding: .5em .4em 0 .4em;
			box-shadow: 0.7rem 0 0 #222,-0.2rem 0 0 #222;		    
			z-index: 5;

		}
		padding: 0.4em;
		text-decoration: none;
		position: relative;
			//background-color: $text-color;
			background-color: $text-color;
			color: #fff;
			text-align: left;
			font-family: $font-body;
			text-transform: none;
			font-size: $font-size-s;
			font-style: italic;
			font-weight: 600;
			box-shadow: 0.3rem 0 0 $text-color,-.2rem 0 0 $text-color;
		}
	}
}

/*! END Header  */