// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation components.
// -----------------------------------------------------------------------------

/*! Navigation  */

.main-menu{
	// height:2*$rtm;

	margin-top: 3*$rtm;
	list-style: none;
	padding: 0;
	display: inline-block;
	float: right;
	font-family: $font-display;
	font-weight: 600;
	font-size: $font-size-s;
	top:0;
	bottom:0;
	&__item{
		position: relative;
		float: left;
		line-height: .5*$rtm;
		&:not(:last-child)::after{
			display:inline-block;
			line-height: .5*$rtm;
			padding: 0 1em 0 1em;
			content: '/';
		}
		&:last-child{
			.main-menu__flag-active{
				width: 100%;
			}
		}
	}
	&__link{
		
		display:inline-block;
		line-height: .5*$rtm;
		color: $text-color;
		text-decoration: none;
		@include hover-transition; 
		&:hover{
			color: $hover-color;

		}
	}
	&__flag-active{
		width: calc(100% - 2.4em);
		height: 2em;
		position: absolute;
		margin-top: -.45*$rtm;    
		.st0{
			stroke-width:2;
		}
	}
}
/*! END Navigation  */