// -----------------------------------------------------------------------------
// This file contains all styles related to the navigation components.
// -----------------------------------------------------------------------------

.main-menu{
	list-style: none;
	padding: 0;
	display: inline-block;
	float: right;
	font-family: $font-display;
	font-weight: 600;
	margin-top: 4.37em;
	&__item{
		display:inline-block;
		position: relative;
		float: left;
		&:not(:last-child)::after{
			padding: 0 1em 0 1em;
			content: '/';
		}
		&:last-child{
			.main-menu__flag-active{
				width: 100%;
			}
		}
	}
	&__link{
		color: $text-color;
		text-decoration: none;
		transition: color .6s cubic-bezier(0.22, 0.61, 0.36, 1);
		&:hover{
			color: $hover-color;

		}
	}
	&__flag-active{
		width: calc(100% - 2.4em);
		height: 2em;
		position: absolute;
		margin-top: -.27em;    
		.st0{
			stroke-width:2;
		}
	}
}